{% extends 'base.html ' %}

{% block head_title %} Log In | {{ block.super }} {% endblock%}

{% block content%}
    <section id="features">
        <div class="container">
            <div class="col-sm-8">
                <form method="POST" action="">{% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-sm-4 col-sm-offset-1">
                        <input type="submit" value="Login" class="btn btn-default" />
                        <br/>
                        <p>Forgot Password? Click<a href="#"> here.</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
{% endblock %}
