{% extends 'base.html' %}

{% block head_title %} Register - {{ block.super }} {% endblock %}}

{% block content%}
<form action='' method="post">{% csrf_token%}
    <div class="form-row form-group form" id="form">
        {{ form.as_p }}
    </div>
    <div class="form-inline" id="form2">
        <form action="" method="post">{% csrf_token %}
        {{ form2.as_p }}
        <input value="Submit" type="submit"/>
            </form>
    </div>
</form>
{#    <script>#}
{#    $(document).ready(function () {#}
{#        $("#form2").hide();#}
{#        $("#next").click(function () {#}
{#            $("#form").hide();#}
{#            $("#form2").show();#}
{#            $("#form2").removeAttr("hidden");#}
{#        });#}
{#    });#}
{#    </script>#}
{% endblock %}