{#{% extends 'base.html' %}#}
{#{% block loginPartial %}#}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated %}
    <li class="active"><a href="{% url 'eCaretaker:index' %}">Dashboard</a></li>
    <li class="dropdown"><a href="#">Houses<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a href="#">Duplex</a></li>
            <li><a href="#">Bungalow</a></li>
            <li><a href="#">Flat</a></li>
            <li><a href="#">Face Me I Face you</a></li>
        </ul>
    </li>
    <li><a href="{% url 'locations:index' %}">Locations</a></li>
    <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
    <li><a href="{% url 'accounts:logoff' %}">Logout</a></li>
{% else %}
    <li class="active"><a href="{% url 'index' %}">Home</a></li>
    <li class="dropdown"><a href="#">Houses<i class="fa fa-angle-down"></i></a>
        <ul role="menu" class="sub-menu">
            <li><a href="#">Duplex</a></li>
            <li><a href="#">Bungalow</a></li>
            <li><a href="#">Flat</a></li>
            <li><a href="#">Face Me I Face you</a></li>
        </ul>
    </li>
    <li><a href="{% url 'locations:index' %}">Locations</a></li>
    <li><a href="{% url 'accounts:login' %}">Login</a></li>
    <li><a href="{% url 'accounts:register' %}">Register</a></li>
{% endif %}
    </ul>
</div>
{#{% endblock %}#}